<div class="relative py-28 -mt-24 px-4">

    <div class="absolute top-0 left-0 w-full h-full -z-10">
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {{ slider }}
                <div class="swiper-slide">
                    <div class="addart-bg"
                        style="background-image:linear-gradient(0deg, #F2D70E, #F2D70E  ),url({{image:url}})"></div>
                </div>
                {{ /slider }}
            </div>
        </div>

    </div>

    <div class="relative max-w-6xl mx-auto min-h-[50vh] flex justify-center">

        

        <span class="absolute top-0 right-0 w-2 h-full bg-white"></span>
        <span class="absolute bottom-0 w-full h-2 bg-white"></span>
        <span class="absolute top-0 left-0 w-2 h-full bg-white"></span>



        <div class="flex flex-col items-center justify-center text-center px-8 py-16 w-2/3">
            <h1 class="heading-xl text-white">Hamburgs Wirtschaft öffnet Türen für Kunst</h1>
            <p class="text-white heading-sm">Entdecken Sie Nachwuchskunst oder Sammlungen in Hambuger Unternehmen</p>

            <a href="#" class="btn btn-black mt-8">Jetzt Entdecken</a>

        </div>

        {{ partial:components/save_date}}



    </div>

    <script>
        var swiper = new Swiper(".mySwiper", {

            autoplay: {
                delay: 7500,
            },
            effect: 'fade'
        });
    </script>

</div>