{{#
@name Images Overlap
#}}

<!-- /components/_images_overlap.antlers.html -->
<div class="relative w-4/5">
    <div class="ratio-4/5">
        {{ grosses_bild }}
        <img src="{{ url }}" alt="{{ alt }}">
        {{ /grosses_bild }}
    </div>
</div>
<div class="relative w-2/3 self-end -mt-16">
    <div class="ratio-4/3">
        {{ kleines_bild }}
        <img src="{{ url }}" alt="{{ alt }}">kleines_bild
        {{ /kleines_bild }}
    </div>
</div>
<!-- End: /components/_images_overlap.antlers.html -->