<div class="grid gap-x-4 md:grid-cols-2 md:odd:text-right md:odd:self-end group" id="{{ ueberschrift }}">


    <div
        class="flex items-end z-10 md:group-odd:justify-end md:group-odd:-mr-8 md:group-even:col-start-2 md:group-even:row-start-1 md:group-even:-ml-8">
        <h1 class="heading-1">{{ ueberschrift }}</h1>
    </div>

    <div class="relative flex flex-col row-span-2">
        <div class="ratio-4/3">
            {{ bild }}
            <img src="{{ url }}" alt="{{ alt }}">
            {{ /bild }}
        </div>
    </div>

    <div class="flex flex-col md:group-even:items-start md:group-odd:items-end">
        <div class="relative heading-4 md:w-1/2 mt-4 text-center md:text-right">
            {{ unterzeile }}
        </div>
    </div>
</div>