<div class="flex flex-col gap-4 absolute bottom-0 top-0 left-0 w-1/2">
    <div class="h-8 w-2 grow bg-white"></div>
    <div class="flex">
        <div class="announce text-white font-headings leading-tight">
            <span class="text-white font-headings uppercase text-sm">save the date</span> <br>

            {{add_art_settings:naechste_add_art:start format="d"}} - {{add_art_settings:naechste_add_art:end format="d M"}} <br>
            {{add_art_settings:naechste_add_art:start format="Y"}}
        </div>
    </div>
    <div class="h-8 w-2 bg-white"></div>

</div>
