{{#
@name Unternehmen Info
#}}

<!-- /components/_company_info.antlers.html -->
<div class="relative flex flex-col p-4 gap-y-4 border-4 border-primary text-center mt-8">
    <div>
        <span class="text-sm">Adresse</span>
        <p>{{ adresse }}</p>
    </div>
    <div>
        <span class="text-sm">Öffnungszeiten</span>
        <p>{{ oeffnungszeiten }}</p>
    </div>

</div>

<div class="mt-8 px-8 text-center">
    <p>{{text}}</p>
</div>

<!-- End: /components/_company_info.antlers.html -->