<!doctype html>
<html lang="{{ site:short_locale }}" class="antialiased">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    {{ vite src="resources/css/site.css|resources/js/site.js" }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@400;700&display=swap"
        rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js "></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>


</head>


<body class="bg-white selection:bg-primary selection:text-white">
    {{ yield:seo_body }}

    <div class="relative">
        {{if slug == 'add-art-fuer-unternehmen' }}
        <div></div>
        {{elseif slug == 'add-art-fuer-nachwuchskuenstlerinnen' }}
        <div></div>

        {{else }}
        {{ partial:layout/header }}
        {{/if}}


        {{ if template == "home" }}
        {{ partial:components/hero-home }}
        {{/if}}




        <main class="main px-4 overflow-hidden" id="main">
            {{ template_content }}
        </main>
        {{ partial:layout/footer }}
    </div>


</body>

</html>