
{{ partial:components/hero-std }}

<div class="max-w-5xl mx-auto mt-16 md:mt-28">
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6 mb-32">

        {{ collection:magazin sort="date:desc"}}
        <a href="{{url}}" class="flex flex-col p-2 md:even:translate-y-16 transition-colors bg-primary hover:bg-black hover:text-white group/item">
            <div class="ratio-1/1">
                <img class="" src="{{ bild:url }}" alt="{{ bild:alt }}">
                <div class="absolute inset-0 bg-primary/20"></div>
                <h3 class="absolute bottom-0 right-0 text-3xl text-right text-white p-4">{{title}}</h3>
            </div>

            <div class="relative p-4">
                <strong>{{ date iso_format="MMMM, YYYY" }}</strong>
                <p>{{kurzbeschreibung}}</p>
            </div>
        </a>
        {{ /collection:magazin }}

    </div>
</div>
