<div class="max-w-7xl mx-auto">
    <div class="grid md:grid-cols-2 lg:grid-cols-4 auto-rows-[450px] gap-4 mb-32">
        {{ collection:magazin }}
        <div class="bg-primary test p-2">
 
                <div class="ratio-4/3">
                    {{ bild }}
                    <img src="{{ url }}" alt="{{ alt }}">
                    {{ /bild }}
                    <div class="absolute bottom-4 flex justify-end w-full px-4 z-10">
                        <h3 class="text-4xl text-right text-white max-w-[280px]">{{title}}</h3>
                    </div>

                </div>
            <div class="relative px-4">
                <strong>{{ date iso_format="MMMM, YYYY" }}</strong>
                <p>{{kurzbeschreibung}}</p>
            </div>

        </div>
        {{ /collection:magazin }}

    </div>
</div>