<div class="flex flex-col items-center mt-16">

    {{if headline }}
    <h2 class="heading-lg mb-4">{{headline}}</h2>
    {{/if}}
    <div class="grid md:grid-cols-{{spalten}} gap-4 {{shift ? "md:mb-16" : ""}}">
        {{ kachel }}
        <div class="flex flex-col p-8 items-{{ausrichtung}} {{ hintergrund }} {{ if ausrichtung == "center" }}text-center{{elseif ausrichtung=="end" }}text-right{{ else }}text-left{{ /if }} {{shift ? "md:even:translate-y-16" : ""}}">
            <h3 class="heading-{{groesse}} mb-4">{{ ueberschrift}}</h3>
            {{if bild }}
            <div class="relative mb-4">
                <img src="{{ bild:url }}" alt="{{ alt }}">
            </div>
            {{/if}}
            <div class="relative">
                <p>{{ text }}</p>
            </div>
            {{if button_link }}
            <a href="{{button_link:url}}" class="btn btn-black mt-8">{{button_label}}</a>
            {{/if}}

        </div>
        {{ /kachel }}
    </div>
</div>