<div class="max-w-6xl mx-auto">
    <div class="grid md:grid-cols-2 md:gap-x-8">


        <div class="flex -mb-8 md:mb-0 md:items-end md:justify-end md:text-right md:translate-x-16 z-10">
            <h1 class="heading-xl text-primary">{{ title }}</h1>
        </div>

        <div class="relative flex flex-col row-span-2 ">
            <div class="relative w-4/5">
                <div class="ratio-4/5">
                    {{bilder_unternehmen:0 }}
                    <img src="{{ url }}" alt="{{ alt }}">
                    {{/bilder_unternehmen:0}}
                </div>
            </div>
            <div class="relative w-5/12 self-end">
                    {{ ausgestellte_kuenstler }}
                    {{
                        top = '-top-['+index * 10 +'%]'
                        left = '-left-['+index * 50+'%]'
                    }}
                    {{bildergalerie:0}}
                    {{bild}}
                    <img src="{{ url }}" alt="{{ alt }}" class="hover:z-30 {{first ? 'relative' : 'absolute {{top}} {{left}}'}}">
                    {{/bild}}
                    {{/bildergalerie:0}}
                    {{ /ausgestellte_kuenstler }}
            </div>

        </div>

        <div class="flex justify-end">
            <div class="flex flex-wrap flex-col lg:w-4/5">
                <div class="relative py-8 px-4 border-4 border-primary text-center mt-6">
                    <p class="font-headings">{{ adresse:street }}, {{adresse:postCode}} {{ adresse:city}}</p>
                    <a>{{webadresse}}</a>
                    </div>
    
                <div class="relative md:text-right mt-6">
                    <p>{{ beschreibung_unternehmen }}</p>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="max-w-6xl mx-auto">
    <h2 class="heading-lg mb-4 text-primary">Kunst</h2>
    {{ ausgestellte_kuenstler }}
    <div class="mb-16">
        <h3 class="heading-sm mb-2">{{title}}</h3>
        <div class="relative md:w-3/4">{{kuenstler_beschreibung}} </div>
        <div class="grid grid-cols-8 gap-4">
            {{bildergalerie}}
            {{bild}}
            <img src="{{ url }}" alt="{{ alt }}">
            {{/bild}}
            {{/bildergalerie}}
        </div>
    </div>
    {{ /ausgestellte_kuenstler }}
</div>

<div class="max-w-6xl mx-auto">
    <h2 class="heading-lg mb-4 text-primary">Magazin</h2>

</div>